# Binaries
bin/
/zephyria
zephyria-bench
bench
bench_bin

# Logs and Data
*.log
storage-test/
tmp*/
zephyria-chaindata/

# Dependencies
# vendor/ (Removed for custom protocol patches)

# OS files
.DS_Store
.vscode/

# Go test artifacts
*.test
*.out
